<nav class="small-12 columns">

    <h3 class="push-8">Geo todoApp</h3>

</nav>

<section class="small-5 columns controls">

    <div class="small-6 columns profile">

    </div>   <!-- profile end -->

    <div class="small-6 columns">
        <div class="box small-4 columns"></div>
        <div class="box small-4 columns"></div>
        <div class="box small-4 columns"></div>
        <div class="box small-4 columns"></div>
        <div class="box small-4 columns"></div>
        <div class="box small-4 columns"></div>
        <div class="box small-4 columns"></div>
        <div class="box small-4 columns"></div>
        <div class="box small-4 columns"></div>
    </div>           <!-- boxes end -->

    <div class="small-12 columns">

        <div class="nameLocation">
            <h3>Andre' Jones</h3>
            <h5>Wherever, USA</h5>
        </div>

        <textarea ng-model="todoItem"></textarea>

        <button ng-click="processItem()">Update</button>

    </div>          <!-- updates end -->

</section><!-- controls end -->

<section class="small-7 columns graphics">
    <div class="map"></div>
    <div class="events"></div>
</section><!-- graphics end -->