<nav class="small-12 columns">

    <h3 class="push-8">Geo todoApp</h3>

</nav>

<section class="small-5 columns controls">

    <div class="small-6 columns profile">

    </div>   <!-- profile end -->

    <div class="small-6 columns">
        <div class="box small-4 columns"></div>
        <div class="box small-4 columns"></div>
        <div class="box small-4 columns"></div>
        <div class="box small-4 columns"></div>
        <div class="box small-4 columns"></div>
        <div class="box small-4 columns"></div>
        <div class="box small-4 columns"></div>
        <div class="box small-4 columns"></div>
        <div class="box small-4 columns"></div>
    </div>           <!-- boxes end -->

    <div class="small-12 columns">

        <div class="nameLocation">
            <h3>Andre' Jones</h3>
            <h5>Wherever, USA</h5>
        </div>

        <textarea ng-model="todoItem"></textarea>

        <button ng-click="processItem()">Update</button>

    </div>          <!-- updates end -->

</section><!-- controls end -->

<section class="small-7 columns graphics">
    <div id="map" style="height: 275px"></div>
    <div class="events"></div>
</section><!-- graphics end -->

<script>

		var map = L.map('map').setView([51.505, -0.09], 2);

		L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
			maxZoom: 18,
			attribution:
                'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
				'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
				'Imagery © <a href="http://mapbox.com">Mapbox</a>',
			id: 'examples.map-i86knfo3'
		}).addTo(map);

</script>
